html,
body {
    background-color: var(--body-bg);
    height: 100%;
    color: darkgray !important;
    font-family: Roboto, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background: #1c1b1b;
    background-image: url("./img/blob-scene-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.stopwatch {
    font-size: 80px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-variant-numeric: tabular-nums;
}

#start {
    background-color: #F88E49;
    color: white;
    font-weight: 500;
}

#record {
    background-color: #D45E64;
    color: white;
    font-weight: 500;
}

#reset {
    background-color: #96446D;
    color: white;
    font-weight: 500;
}

.form-check-input:checked {
    background-color: #96446D !important;
    border-color: #96446D !important;
}

.form-check-input:focus {
    border-color: #96446D !important;
    outline: 0px;
    box-shadow: #96446da4 0px 0px 0px 0.25rem !important;
}

textarea {
    font-size: 15px !important;
    width: 300px !important;
    height: 200px !important;
    white-space: pre-wrap !important;
}

#content {
    flex: 1 0 auto;
    background-color: var(--body-bg);
    margin-bottom: -1px;
    animation: popup 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    font-size: 12px;
    flex-shrink: 0;
    padding: 3px 20px 30px 20px;
    text-align: center;
    background-color: var(--body-bg) !important;
    margin-bottom: -2px !important;
}

footer>a:hover,
footer>a {
    text-decoration: none;
    color: darkgray;
}

button {
    width: 28% !important;
}